<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: William Carey</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<footer>
	<div class="wrapper">
		<nav>
			<h4>Information</h4>
			<ul>
				<li>About US</li>
				<li>Customer Service</li>
				<li>Site Map</li>
				<li>Advanced Search</li>
			</ul>
		</nav>

		<nav>
			<h4>Services</h4>
			<ul>
				<li>Print Page</li>
				<li>Forum</li>
				<li>Help</li>
				<li>Contact Us</li>
			</ul>
		</nav>

		<img src="images/map.png" alt="Google Maps: My Company Location">
	</div>
	</footer>
	<footer id="foot">
		<p>2015 WDC, Inc. All rights reserved.</b> Terms &amp; Privacy Copyright &copy; <a href="">Privacy Policy</p>
	</footer>
</body>
</html>