/* Component Stylesheet 
============================================================
============================================================*/
body{

}
h4{
	font-size: 2em;
	margin-bottom: 10px;
	font-weight:700;
	padding-right: 10px;
}
footer{
	background-color:#999;
	height:250px;
	display:block;
	
}

.wrapper{
	max-width: 1000px;
	margin:0 auto;
}

#foot{
	background-color: #222;
	text-align: center;
	color:white;
	height:40px;
}

footer nav{
	text-align: center;
	margin-bottom: 20px;
	float:left;

}

footer nav li{
	list-style-type: none;
}

footer img{
	display:block;
	max-width:50%;
	float:right;
}