<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: William Carey</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<div class="city">
	  <h2>Australia</h2>
	  <p>Canberra is the capitol of Australia</p>
	  <p>Australia is the smallest inhabited continent of the seven continents can also be considered the largest island in the world.</p>
	</div>

	<div class="city">
	  <h2>Bahamas</h2>
	  <p>Nassau(New Providence) is the capital of Bahamas.</p> 
	  <p>The Bahamas is an archipelago nation with about 700 islands. About 40 of the islands are populated.</p>
	</div>

	<div class="city">
	  <h2>Georgia</h2>
	  <p>Atlanta is the capital of Georgia.</p>
	  <p>The state Georgia is the largest producer of peanuts in the U.S. It supplies over 40% of the market.</p>
	</div>
</body>
</html>