6<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: William Carey</title>

	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />

	
</head>
<body>
	<article id="featured">
			
		<h2>ABOUT</h2>

		<div class="featured-col">			
							
			<h3>Vivamus sed vestibulum tortor</h3>
			
			<p>Donec vel sem condimentum, interdum lacus nec, vulputate ante. Curabitur vulputate quis elit sit amet <a class="read-more" href="#">Read More</a></p>
			
		</div>
		
		<div class="featured-col">			
							
			<h3>Quisque at tristique metus</h3>
			
			<p>Suspendisse placerat justo non ante condimentum, eu feugiat dolor luctus. Aliquam cursus lorem mi, ac <a class="read-more" href="#">Read More</a></p>
	
		</div>	
			
		<div class="featured-col">				
											
			<h3>Maecenas congue ipsum lorem</h3>
			
			<p>Aenean feugiat justo risus, vitae cursus leo ultrices sit amet. Integer non felis imperdiet, blandit <a class="read-more" href="#">Read More</a></p>
			
		</div>		
			
	</article>
</body>
</html>