/* Component Stylesheet 
============================================================
============================================================*/
body {
	width: 100%; 
	margin: 0 auto;
	font: 16px / 1.5 "Open Sans", sans-serif;
	color: #666;
}

h2{
	color:#ffffff;
	font-size:60px;
	margin:0px auto;
}
h3{
	text-align:center;
	font-weight:bold;
	text-decoration: underline;
	padding:25px;
}
p{
	text-align:center;
	padding:20px;
}

#featured{
	width:1130px;
	height:600px;
	margin:20px 0 30px 250px;
	display:inline-block;
	
}

.featured-col{
	width:300px;
	height: 300px;
	float:left;
	display:inline-block;
	overflow:auto;
	border-radius: 50%;
 	border:1px solid black;
 	margin:0px 10px 0px 10px;
 	padding:10px;

}

#featured h2{
	text-align:center;
	font-size:34px;
	color:#868686;
}

.read-more{
	color:#ffffff;
	background-color:#00B23A;
	padding: 10px 30px;
	margin:0 auto;
	width:150px;
	display:block;
	text-align:center;
}
